@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* { 
	font-family: "Lato", Calibri, Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    padding:0px; 
    margin: 0px;
}

html { 
	height: 100%;
    padding:0px; 
    margin: 0px;
}

body {
	background: #fefefe;
    overflow-y: scroll;
    overflow-x: scroll;

	padding:0px; 
    margin: 0px;
}

a {
	color: #555;
	text-decoration: none;
	font-weight:bold;
}

h2 {
	font-size:larger;
	line-height:200%;
}

h3 {
	line-height:170%;
}

h4 {
	line-height:230%;
}

table tr {
	text-align: left;
}

#center{
	height:100%;
	padding:5px;
	background:#fefefe;
	margin:0 auto;
	width:1024px;
}

#content {
	min-height:300px;
}

ul {
	list-style-type:none;
	padding: 0px;
}

ul.headerLeft li{
	float: left;
	padding: 7px;
	line-height: 30px;
	height: 30px;
}

ul.headerRight li{
	float: right;
	padding: 7px;
	line-height: 30px;
	height: 30px;
}

#spanner {
	width:100%;
}

.tableList {
	border:none;
}

.tableList tr:nth-child(even) {
	background-color:#F5F7FF;
}

.tableList tr:nth-child(odd) {
	background-color:#FFF5F5;
}

.tableList tr:nth-child(1) {
	background: #fefefe;
}

.tableList th {
	padding:5px;
}

.tableList td {
	padding:5px;
}

#logoutdiv {
	float: right;
}
